<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>商品详细信息页面</title>
</head>
<body>
<form method="post" id="myForm">
    <table border="1px">
        <tr>
            <td>商品标题：</td>
            <td th:text="${item.title}"></td>
        </tr>
        <tr>
            <td>商品详情：</td>
            <td th:text="${item.desc}"></td>
        </tr>
        <tr>
            <td>商品价格：</td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
</form>
</body>
</html>